@{
    ViewData["Title"] = "Home Page"; 
}

<div class="text-center">
    <form class="p-a-1" asp-action="Menu" method="get" width="50%">
        <input type="submit" value="Menu">
    </form>

    <form class="p-a-1" asp-action="OrderQueue" method="get" width="50%">
        <input type="submit" value="Bartender Queue">
    </form>
</div>


